@import "../../styles/variables.css";

.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 98%;
    margin: auto;
    padding: 40px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-family: "Cinzel", sans-serif;
    font-weight: bolder;
    box-shadow: 0px 3px 5px var(--text-color);
}

.form-golden-book {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-golden-book input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-shadow: 0px 3px 5px var(--text-color);
}

.error-message {
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    color: var(--tertiary-color);
    font-size: 14px;
}

.img-form-container {
    width: 60%;
}

.img-form-container img {
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 3px 5px var(--text-color);
}

.form-golden-book label {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.short-label {
    width: 400px;
}

.large-label {
    width: 630px;
}

.form-golden-book input {
    margin-top: 8px;
    width: 150px;
    height: 30px;
}

.large-field {
    margin-top: 8px;
    width: 630px;
    height: 260px;
    resize: none;
}

.form-golden-book-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 200px;
    height: 60px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: var(--tertiary-color);
    font-weight: bold;
    font-family: "Cinzel", sans-serif;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 3px 5px var(--text-color);
    transition: opacity 0.3s ease;
}

.form-golden-book-button:hover {
    opacity: 0.7;
}

.form-golden-book-button img {
    margin-left: 8px;
    width: 30px;
}

.required-fields {
    color: var(--tertiary-color);
    background: none;
}
