.container-gallery-title {
    margin: 100px auto;
    width: 60%;
    overflow: hidden;
    font-family: 'Cinzel', sans-serif;
}

.gallery-title {
    font-size: 50px;
    text-align: center;
}

.gallery-title span {
    position: relative;
    padding: 1em;
}

.gallery-title span::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background: #000000;
    width: 1200px;
    top: 50%;
    margin-top: -1px;
    right: 100%;
}

.gallery-title span::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background: #000000;
    width: 1200px;
    top: 50%;
    margin-top: -1px;
    left: 100%;
}

/* --- Media Queries -- */
@media screen and (max-width: 1024px) {

    .gallery-title {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .container-gallery-title {
        margin: 50px auto 0 auto;
        width: 60%;
    }
}

@media screen and (max-width: 767px) {

    .container-gallery-title {
        width: 80%;
    }

    .gallery-title {
        font-size: 30px;
    }
}
