.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: "Cinzel", sans-serif;
}

.button-close-popup {
    position: absolute;
    width: 20px;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.paging {
    position: absolute;
    width: 20px;
    top: 15px;
    left: 20px;
}

.carrousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 80%;
}

.carrousel-container div {
    width: 100%;
    height: 90%;
}

.photo-carrousel {
    display: block;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 0.3s ease-in-out;
}

.photo-carrousel.transitioning {
    opacity: 0;
}

.button-arrow-carrousel {
    margin: 20px;
    width: 40px;
    color: white;
    cursor: pointer;
}

.previous {
    transform: rotate(180deg);
}

.legend-container {
    text-align: center;
    color: white;
    margin: 10px 0 20px 0;
    font-style: italic;
    font-size: 22px;
}

/* PETIT CARROUSEL */

.thumbnail-carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 60%;
}

.thumbnail-container {
    margin: 5px;
    width: 150px;
    height: 100%;
    overflow: hidden;
}

.thumbnail-container img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.current-thumbnail {
    border: 6px solid white;
}

@media screen and (max-width: 1250px) {
    
    .button-close-popup {
        right: 10px;
    }

    .paging {
        left: 10px;
    }

    .photo-carrousel {
        height: 95%;
    }

    .thumbnail-carrousel {
        height: 70px;
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {

    .button-close-popup {
        width: 18px;
    }

    .paging {
        width: 18px;
    }

    .photo-carrousel {
        height: 90%;
    }

    .button-arrow-carrousel {
        width: 30px;
    }

    .legend {
        font-size: 20px;
    }
}

@media screen and (max-width: 949px) {

    .carrousel-container {
        height: 70%;
    }

    .photo-carrousel {
        height: 85%;
    }

    .thumbnail-carrousel {
        width: 80%;
    }

    .legend {
        font-size: 18px;
    }
}

@media screen and (max-width: 840px) {

    .carrousel-container {
        height: 70%;
    }

    .photo-carrousel {
        height: 75%;
    }

    .thumbnail-carrousel {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {

    .carrousel-container {
        margin-bottom: 40px;
        width: 95%;
        height: 50%;
    }

    .photo-carrousel {
        height: 100%;
    }

    .legend {
        font-size: 16px;
    }

    .thumbnail-container {
        display: none;
    }

    .button-arrow-carrousel {
        margin: 20px 60px;
    }
}

@media screen and (max-width: 650px) {

    .carrousel-container {
        height: 40%;
    }
}

@media screen and (max-width: 480px) {
    
    .carrousel-container {
        height: 35%;
    }

    .legend {
        font-size: 14px;
    }
}
