.popup-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.button-close-popup {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.carrousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.legend-container {
    margin-top: 100px;
    padding-right: 10px;
    height: 50%;
    width: 18%;
    background-color: black;
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.carrousel-container div {
    display: flex;
    width: 100%;
    height: 100%;
}

.photo-carrousel {
    display: block;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button-arrow-carrousel {
    color: white;
    cursor: pointer;
}

.previous {
    transform: rotate(180deg);
}
