.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: "Cinzel", sans-serif;
}

.button-close-popup {
    position: absolute;
    width: 20px;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.paging {
    position: absolute;
    width: 20px;
    top: 15px;
    left: 20px;
}

.carrousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.photo-carrousel-container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 92%;
}

.photo-carrousel {
    display: block;
    width: auto;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.photo-carrousel.transitioning {
    opacity: 0;
}

.button-arrow-carrousel {
    width: 40px;
    color: white;
    cursor: pointer;
}

.previous {
    margin-left: 20px;
    transform: rotate(180deg);
}

.next {
    margin-right: 20px;
}

.arrow-mobile-container {
    display: none;
    position: absolute;
    bottom: 40px;
}

.button-arrow-mobile {
    margin: 0 30px;
}

.legend-container {
    position: absolute;
    left: 0%;
    bottom: 0.6%;
    width: 100%;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 22px;
}

/* --- Media Queries -- */
@media screen and (max-width: 1530px) {

    .photo-carrousel-container {
        width: auto;
        height: 85%;
    }

    .legend-container {
        bottom: 2%;
    }
}

@media screen and (max-width: 1450px) {
    
    .photo-carrousel-container {
        height: 80%;
    }

    .legend-container {
        bottom: 3%;
    }
}

@media screen and (max-width: 1350px) {
    
    .photo-carrousel-container {
        height: 70%;
    }        
}

@media screen and (max-width: 1180px) {
    
    .photo-carrousel-container {
        height: 60%;
    }
}

@media screen and (max-width: 1030px) {
    
    .photo-carrousel-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .legend-container {
        bottom: 12%;
    }

    .button-arrow-carrousel {
        display: none;
    }

    .arrow-mobile-container {
        display: block;
    }

    .button-arrow-mobile {
        width: 40px;
    }

    .photo-carrousel-container {
        height: 65%;
    }
}

@media screen and (max-width: 1000px) {
    
    .photo-carrousel-container {
        height: 60%;
    }

    .legend-container {
        bottom: 14%;
    }
}

@media screen and (max-width: 930px) {
    
    .photo-carrousel-container {
        height: 52%;
    }

    .legend-container {
        bottom: 19%;
    }
}

@media screen and (max-width: 800px) {
    
    .photo-carrousel-container {
        height: 45%;
    }

    .legend-container {
        bottom: 22%;
    }

    .arrow-mobile-container {
        bottom: 100px;
    }

    .button-arrow-mobile {
        margin: 0 80px;
    }
}

@media screen and (max-width: 690px) {
    
    .photo-carrousel-container {
        height: 38%;
    }

    .legend-container {
        bottom: 25%;
        font-size: 16px;
    }

    .arrow-mobile-container {
        bottom: 120px;
    }

    .button-arrow-mobile {
        margin: 0 80px;
    }
}

@media screen and (max-width: 580px) {
    
    .photo-carrousel-container {
        height: 30%;
    }

    .legend-container {
        bottom: 28%;
        font-size: 16px;
    }

    .arrow-mobile-container {
        bottom: 120px;
    }

    .button-arrow-mobile {
        margin: 0 80px;
    }
}

@media screen and (max-width: 458px) {
    
    .photo-carrousel-container {
        height: 25%;
    }

    .legend-container {
        bottom: 34%;
        font-size: 10px;
    }

    .arrow-mobile-container {
        bottom: 120px;
    }

    .button-arrow-mobile {
        margin: 0 80px;
    }
}

@media screen and (max-width: 390px) {
    
    .photo-carrousel-container {
        height: 20%;
    }

    .legend-container {
        bottom: 36%;
    }

    .arrow-mobile-container {
        bottom: 120px;
    }

    .button-arrow-mobile {
        width: 30px;
        margin: 0 30px;
    }
}

/* --- Media Queries spécifiques au mode paysage -- */
@media screen and (orientation: landscape) {
    
    .paging {
        top: 9px;
        left: 15px;
    }
    
    .button-close-popup {
        position: absolute;
        width: 20px;
        top: 9px;
        right: 10px;
    }

    .carrousel-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .photo-carrousel-container {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .photo-carrousel {
        display: block;
        width: auto;
        max-width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .arrow-mobile-container {
        display: none;
    }

    .legend-container {
        display: none;
    }
}
