@import "../../styles/variables.css";

/* --- Keyframes --- */
@keyframes progressive { 
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
    padding: 40px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-family: "Cinzel", sans-serif;
    box-shadow: 0px 3px 5px var(--text-color);
}

.comment-card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 70%;
    background-color: white;
    border: 3px solid var(--tertiary-color);
    border-radius: 6px;
    box-shadow: 0px 3px 5px var(--text-color);
    animation: progressive 1s ease-in-out both;
}

.comment-header {
    display: flex;
    align-items: center;
    margin: 10px;
}

.comment-pp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0px 3px 5px var(--text-color);
}

.comment-author {
    font-weight: bold;
}

.comment-date {
    position: absolute;
    right: 30px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    background-color: var(--secondary-color);
    box-shadow: 0px 3px 5px var(--text-color);
}

.comment-content {
    margin: 0 10px 10px 68px;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

.button-paging-comment {
    margin: 10px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: white;
    font-family: "Cinzel", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: solid 1px var(--tertiary-color);
    border-radius: 50px;
    transition: opacity 0,3s ease-in-out;
    box-shadow: 0px 3px 5px var(--text-color);
}

.current-button-paging-comment {
    margin: 10px;
    height: 34px;
    width: 34px;
    cursor: pointer;
    background-color: white;
    color: var(--tertiary-color);
    font-family: "Cinzel", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: solid 2px var(--tertiary-color);
    border-radius: 50px;
}

.button-paging-comment:hover {
    opacity: 0.7;
}

/* --- Media Queries -- */
@media screen and (max-width: 1024px) {

    .comment-card {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {

    .comment-card {
        width: 98%;
    }
}

