@import "../../styles/variables.css";

.error-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 40px;
    width: 98%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0px 3px 5px var(--text-color);
    font-family: "Roboto", sans-serif;
}

.error-title {
    margin-bottom: 40px;
    color: var(--tertiary-color);
    font-size: 60px;
}

.error-content {
    margin-bottom: 20px;
}

.error-return {
    margin-bottom: 10px;
}

.error-home-link {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 26px;
    border-bottom: 2px solid transparent;
}

.error-home-link:hover {
    border-bottom: 2px solid var(--tertiary-color);
}

@media screen and (max-width: 1024px) {

    .error-title {
        font-size: 45px;
    }
}

@media screen and (max-width: 767px) {

    .error-title {
        font-size: 30px;
    }
    
    .error-home-link {
        font-size: 20px;
    }
}
