.banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo-img {
    width: 150px;
}

/* --- Media Queries -- */
@media screen and (max-width: 767px) {

    .logo-img {
        width: 100px;
    }
}

