@import "../../styles/variables.css";

/* --- Keyframes --- */
@keyframes nav-trigger-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes nav-link-anim {
    from {
        opacity: 0;
        transform: translateX(80%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.trigger-nav {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--text-color);
    width: 90px;
    height: 90px;   
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    animation: nav-trigger-anim 0.2s ease-out forwards;
    z-index: 999;
}

.element-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-color);
    width: 25px;
    height: 12px;
}

.white-bar {
    background-color: white;
    width: 34px;
    height: 2px;
}

.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 25%;
    opacity: 0.90;
    background-color: var(--tertiary-color);
    color: white;
    transition: right 0.3s ease-out;
    z-index: 999;
    font-family: 'Cinzel', sans-serif;
}

.nav .active {
    border-bottom: 1px solid white;
}

.close-nav {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 45%;
}

.menu-nav li {
    display: flex;
    align-items: center;
    margin: 50px;
    font-size:  26px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
}

.li-animation {
    animation: nav-link-anim 1s ease-out forwards;
}

.menu-nav li:nth-child(2) {
    animation-delay: 0.2s;
}
.menu-nav li:nth-child(3) {
    animation-delay: 0.3s;
}
.menu-nav li:nth-child(4) {
    animation-delay: 0.4s;
}
.menu-nav li:nth-child(5) {
    animation-delay: 0.5s;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.icone-nav {
    margin-left: 20px;
    width: 40px;
}

.black-box {     
    display: flex;     
    position: fixed;     
    width: 75%;     
    height: 100%; 
    z-index: 999;
}

/* --- Media Queries -- */
@media screen and (max-width: 1024px) {

    .nav {
        width: 33%;
    }

    .menu-nav li {
        font-size:  20px;
    }
}

@media screen and (max-width: 767px) {

    .trigger-nav {
        width: 70px;
        height: 70px;
    }

    .menu-nav li {
        font-size:  18px;
    }

    .nav {
        width: 42%;
    }
}

@media screen and (max-width: 480px) {

    .trigger-nav {
        width: 70px;
        height: 70px;
    }

    .menu-nav li {
        font-size:  18px;
    }

    .nav {
        width: 49%;
    }
    
    .menu-nav li {
        margin: 40px;
    }
}
