@import "../../styles/variables.css";

/* ---- COVER IMG HOME ---- */
.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Media Queries -- */
@media screen and (max-width: 767px) {
    
    .home-main {
        background-color: var(--primary-color);
    }
}

