.header {
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
    background-image: url("../../assets/background_header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    
    .header {
        height: 60vh;
        background-position: center;
    }
}
