@import "../../styles/variables.css";

.confirmation-msg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.confirmation-msg-container {
    position: relative;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    box-shadow: 0px 3px 5px var(--text-color);
}

.confirmation-msg-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.confirmation-msg-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    cursor: pointer;
}

.confirmation-msg-txt {
    font-family: "Cinzel", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    color: white;
}

@media screen and (max-width: 1024px) {
    
    .confirmation-msg-container {
        width: 50%;
    }

    .confirmation-msg-content {
        text-align: center;
    }

    .confirmation-msg-txt {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {

    .confirmation-msg-container {
        width: 60%;
    }
}

@media screen and (max-width: 480px) {

    .confirmation-msg-container {
        width: 70%;
    }

    .confirmation-msg-txt {
        font-size: 18px;
    }
}
