.thumbnail-carrousel {
    display: flex;
    justify-content: center;
    width: 60%;
}

.thumbnail-container {
    margin: 5px;
    width: 150px;
    height: 85px;
    overflow: hidden;
}

.thumbnail-container img {
    cursor: pointer;
}

.current-thumbnail {
    border: 6px solid white;
}
