@import "../../styles/variables.css";

.button-container {
    display: flex;
    margin: 50px 0 20px 0;
    justify-content: center;
    font-family: 'Cinzel', sans-serif;
}

.gallery-link {
    display: flex;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: var(--tertiary-color);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
}

.gallery-link:focus {
    outline: none; 
}

.gallery-link:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 var(--text-color);
}

.gallery-link div:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.gallery-link:hover div:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

.gallery-link div:nth-child(2) {
    width: 20px;
    margin-left: 10px;
    position: relative;
    top: 12%;
}

 /* SVG */
path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.gallery-link:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.gallery-link:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.gallery-link:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: var(--text-color);
    }
    100% {
        fill: white;
    }
}

@media screen and (max-width: 767px) {

    .button-content {
        margin-top: 1px;
    }

    .gallery-link {
        font-size: 26px;
    }

    .button-container {
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {

    .button-content {
        margin-top: 3px;
    }

    .gallery-link {
        font-size: 20px;
    }

    .button-container {
        margin-top: 30px;
    }
}
